@charset "utf-8";

@import url("./form.css");
@import url("./navbars.css");
@import url("./radiobuttons.css");
@import url("./comments.css");

body {
    color: white;
    background-color: #333333;
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

textarea {
    resize: none;
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
}

input[type=date]{
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    border: 1px dashed grey;
    width: 75%;
}

table {
    border-spacing: 1px;
    border-collapse: separate;
}

td, th {
    border: none;
    color: white;
    padding-inline: 6px;
}

tr:nth-child(even){background-color: #1f2223;}
tr:nth-child(odd){background-color: #181A1B;}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #673ab7;
    color: white;
}

dt {
    font-style: italic;
}

/*img {
    -webkit-filter: drop-shadow(1px 1px 1px white)
                drop-shadow(-1px 1px 1px white)
                drop-shadow(1px -1px 1px white)
                drop-shadow(-1px -1px 1px white);

    filter: drop-shadow(1px 1px 1px white)
            drop-shadow(-1px 1px 1px white)
            drop-shadow(1px -1px 1px white)
            drop-shadow(-1px -1px 1px white);
}*/

.title {
    position: relative;
    font-size: max(25px, 3.5vw);
    text-align: left;
    color: #744fca;
    text-shadow: 4px 6px #222;
    z-index: 1;
}

.iconContainer {
    position: relative;
    display: inline-block;
    top: 1.25vw;
    left: 4vw;
    z-index: 0;
}

.favIcon {
    height: 6vw;
    display: inline-block;
    text-align: center;
}

.foot {
    text-align: center;
    color: #a0a0a0;
}

.socialLink {
    display: inline-block;
    background-color:#444;
    border-radius: 50px;
    width: 100%;
}

#neofetch {
    background-color: #222;
    border-radius: 5px;
}

#myFace {
    border-radius: 5px;
}
