@charset "utf-8";

@import url("./form.css");
@import url("./table.css");
@import url("./navigation.css");
@import url("./radiobuttons.css");
@import url("./comments.css");
@import url("./bootstrap-grid.css");
@import url("./JetBrains-Mono.css");

body {
    color: white;
    background-color: #333333;
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

textarea {
    resize: none;
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
}

input[type=date]{
    font-family: JetBrains Mono, Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    border: 1px dashed grey;
    width: 75%;
}

dt {
    font-style: italic;
}

.title {
    position: relative;
    font-size: max(25px, 3.5vw);
    text-align: left;
    color: #744fca;
    text-shadow: 4px 6px #222;
    z-index: 1;
}

.favIcon {
    height: 6vw;
    display: inline-block;
    text-align: center;
}

.foot {
    text-align: center;
    color: #a0a0a0;
}

#neofetch {
    background-color: #222;
    border-radius: 5px;
}

#myFace {
    border-radius: 5px;
}
